**,
*::before,
*::after {
    box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

/*header*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    padding: 16px 0;


}

.icon-header-mob {
    color: #2F2F37;
    display: flex;
}

.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navigation {
    display: flex;
    align-items: center;

}

.page-nav {
    display: flex;
    gap: 40px;
    display: none;

}

.page-nav-li {
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.page-nav-li {
    color: #2E2F42;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.page-li {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;

}

.multicolor-secondpart-header {
    color: #2e2f42;

}

.page-nav .link:hover {
    color: #404BBF;

}

.page-nav .link:active {
    color: #404BBF;

}

.page-nav .link:focus {
    color: #404BBF;

}

.contacts-info {
    font-style: normal;
    margin-left: auto;
    display: none;

}

.contacts-info .contacts-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;

}

.contacts-info .contacts-text:hover {
    color: #404bbf;

}

.contacts-info .contacts-text:focus {
    color: #404bbf;

}

.contacts-text {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-two {
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


/*main*/

.nav {
    display: flex;
    flex-wrap: wrap;
    /*gap: 24px;*/
    /*align-items: center;*/
    gap: 72px;

}


.team-photo {
    display: flex;
    flex-wrap: wrap;
    /*gap: 24px;*/
    gap: 72px;
    border-radius: 0px 0px 4px 4px;

}

.name {
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;

}

.second-point {
    /*width: calc((100% - 72px) / 4);*/
    border-radius: 0px 0px 4px 4px;
    width: 100%;

}

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/retina/bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;

}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .hero {
        background-image: ('../images/retina/bg-mob@2x.jpg');
    }
}

.section-one {
    /*padding: 188px 0;*/
    padding: 72px 0;



}


.first-section-title {
    /*font-size: 56px;*/
    font-size: 36px;
    /*line-height: 1.07;*/
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #ffffff;
    align-items: center;
    /*max-width: 496px;*/
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 48px;*/
    margin-bottom: 72px;
    text-align: center;
    font-weight: 700;


}

.section-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.button-main {
    cursor: pointer;
    color: #ffffff;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;

}

.button-section-one {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;

}

.button-main:hover {
    background-color: #404BBF;

}

.button-main:focus {
    background-color: #404BBF;

}

.next-section {
    padding: 120px 0;

}

.next-section-title {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.1;

}

.description-one {
    word-wrap: break-word;
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.list-item {
    width: calc((100% - 72px) / 4);
    width: 100%;

}

.icon-container {
    /*display: flex;*/
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.icon-container svg {
    width: 64px;
    height: 64px;
}

.photo-color {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



.next-title-team {
    background-color: #F4F4FD;
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.1;
    padding: 96px 0;

}

.employee-position {
    padding: 32px 0;

}

.team-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404bbf;

}

.team-soc-items {
    width: 40px;
    height: 40px;

}

.team-soc-icons {
    fill: #F4F4FD;

}


.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.team-soc-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icons {
    color: #F4F4FD;
    width: 16px;
    height: 16px;
}

.next-title-ourteam {
    background-color: #F4F4FD;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-top: 0;

}

.photo-color {
    background-color: #FFFFFF;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

}


.title-block {
    color: #2e2f42;
    /*font-size: 20px;*/
    font-size: 36px;
    font-weight: 700;
    /*line-height: 1.2;*/
    line-height: 1.1;
    /*font-weight: 500;*/
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.two-section-block {
    color: #2e2f42;
    /*font-size: 20px;*/
    font-size: 36px;
    font-weight: 700;
    /*line-height: 1.2;*/
    line-height: 1.1;
    /*font-weight: 500;*/
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-block {
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}


.title-block-one {
    text-align: center;

}

.next-title {
    /*padding-top: 120px;
    padding-bottom: 120px;*/
    padding: 96px 0;

}

.next-title-ourportfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-top: 0;

}

.services {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    /*column-gap: 24px;*/
    gap: 48px;
    row-gap: 48px;
    list-style-type: none;
    padding: 0;

}

.image-container {
    position: relative;
    overflow: hidden;
}

.card-description {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-point:hover .card-description {
    transform: translateY(0%);
}

.description {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;

}

.option {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;

}

.services-point {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.first-point {
    /*width: calc((100% - 48px) / 3);*/
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;

}

.first-point:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.part-one {
    background-color: #E7E9FC;

}

.part-two {
    background-color: #F4F4FD;

}

.block-image {
    display: block;

}


/*footer*/

.footer-info {
    padding: 100px 0;

}

footer {
    background-color: #2E2F42;

}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;

}

.multicolor-secondpart-footer {
    color: #f4f4fd;

}

.footer-description {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;

}


.social-media-para {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-container {
    align-items: baseline;

}

.footer-soc-items {
    width: 40px;
    height: 40px;

}

.footer-soc-items:not( :last-child) {
    margin-right: 16px;

}

.footer-soc-icons {
    fill: #F4F4FD;
    width: 24px;
    height: 24px;

}

.footer-soc-list {
    display: flex;
    margin-right: 80px;

}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31d0aa;
}

.footer-soc-icons {
    fill: #f4f4fd;
}

.footer-class {
    align-items: baseline;
    display: flex;
}

.logo-paragraph {
    margin-right: 120px;
}


.subscribe {

    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form-container {

    display: flex;
    gap: 24px;
}

.form-input {

    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.form-input::placeholder {
    color: #ffffff;
}

.form-button {
    min-width: 165px;
    height: 40px;
    padding-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}


.send-icon {
    margin-left: 16px;
}

.send-icon {
    fill: #FFFFFF;
}




/*Pop-up window*/

.pop-up-window {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 408px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    width: 24px;
    height: 24px;
    padding: 0;
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #e7e9fc;
}

.modal-button:hover,
.modal-button:focus {
    color: #FFFFFF;
    background-color: #404bbf;
    border: none;

}

.button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-button:hover .button-icon,
.modal-button:focus .button-icon {
    fill: #FFFFFF;
}

.modal-title {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-line {
    margin-bottom: 8px;
}

.modal-lable {
    display: block;
    margin-bottom: 4px;
    height: 18px;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

label {
    cursor: default;
}

.modal-input-line {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 300ms linear;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-icon {
    color: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 300ms linear;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.checkbox-text {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.check-input:checked+.checkbox-text span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.checkbox-text span {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text a {
    color: #4d5ae5;
    text-decoration: underline;
}

.policy {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.backdrop-sup-btn {
    display: block;
    justify-items: center;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.modal-comment {
    margin-bottom: 16px;
}






a {
    text-decoration: none;

}

ul {
    list-style-type: none;

}

h1,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;

}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .div-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

  
    .page-nav {
        display: flex;
    }

    .contacts-info {
        display: flex;
    }

    .contacts-mob {
        margin-bottom: 12px;
    }

    .navigation-two {
        display: block;
    }

    .contacts-info .contacts-text {
        color: #434455;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.1;
        font-style: normal;
        letter-spacing: 0.02em;
    }

    .button-header {
        display: none;
    }

    .second-point {
        width: calc((100% - 144px) / 2);
    }

    .next-title-team {
        padding: 96px 0;
    }

    .next-title-ourteam {
        margin-bottom: 72px;
    }

    .team-photo {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: center;
    }

    .list-item {
        width: calc((100% - 144px) / 2);
    }

    .portfolio-block {
        color: #2e2f42;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0.02em;
        margin-bottom: 8px;

    }

    .two-section-block {
        color: #2e2f42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        margin-left: 16px;
    }

    .description-one {
        word-wrap: break-word;
        color: #434455;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-left: 16px;

    }

    .next-section {
        padding: 96px 0;
    }

    .first-section-title {
        font-size: 56px;
        margin-bottom: 36px;
    }

    .section-one {
        padding: 112px 0;
    }

    .services {
        column-gap: 24px;
    }

    .first-point {
        width: calc((100% - 24px) / 2);

    }

    .next-title {
        padding: 96px 0;
    }

    .next-title-ourportfolio {
        margin-bottom: 72px;
    }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .button-header {
        display: none;
    }


    .contacts-info {
        font-style: normal;
        margin-left: auto;
       
    }

    .div-header {
        display: flex;
        align-items: center;
    
    }

    .navigation-two {
        display: flex;
        align-items: center;
        gap: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .page-nav {
        display: flex;
        gap: 40px;


    }

    .contacts-info .contacts-text {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        font-style: normal;
        letter-spacing: 0.02em;
    }

    .icon-header-mob {
        display: none;
    }

    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/background-photo.jpg);

    }

    .second-point {
        width: calc((100% - 72px) / 4);
    }

    .team-photo {
        gap: 24px;
    }

    .next-title-team {
        padding: 120px 0;
    }

    .next-title-ourteam {
        margin-bottom: 72px;
    }

    .list-item {
        width: calc((100% - 72px) / 4);
        gap: 24px;

    }

    .icon-container {
        display: flex;
    }

    .next-section {
        padding: 120px 0;
    }

    .first-section-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #ffffff;
        align-items: center;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;

    }

    .section-one {
        padding: 188px 0;
    }

    .services {
        column-gap: 24px;

    }

    .first-point {
        width: calc((100% - 48px) / 3);

    }

    .next-title {
        padding: 120px 0;
    }

    .next-title-ourportfolio {
        margin-bottom: 72px;
    }

    .two-section-block {
        color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .description-one {
        word-wrap: break-word;
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;


    }

    .nav {
        display: flex;
        gap: 24px;
        align-items: center;
    }










}


.block-image {
    display: block;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

img {
    width: 100%;
    height: auto;
}